{% extends "layout.html" %}
{% block content %}
{% load static %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4">
            <img class="logo" src="{% static 'images/mathilo/mathilo-sin-fondo.png' %}" alt="mathilo"/>
        </div>
        <div class="col-md-4">
            <h2>Mathilo SAC</h2>
            <p>RUC: 20550117968</p>
            <p>Calle San Martín de Porres 160, Trujillo 13008</p>
            <p>PERÚ</p>
        </div>
        <div class="col-md-4">
            <p>Teléfono: 958031820</p>
            <p>Fecha de emisión: </p>
            <p>Fecha de vencimiento: Ninguno</p>
            <p>Tipo de moneda: Soles</p>
        </div>
    </div>

    <h1>BOLETA ELECTRÓNICA BB01-2</h1>
    <h2>Datos del cliente</h2>
    <p>Nombre: </p>
    <p>Apellido: </p>
    <br>
    <h3>Detalles de la compra:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

        </tbody>
    </table>

    <h2>Son: </h2>
    
</div>
{% endblock %}